.how-it-works{
    padding: 100px 0px;

    border-bottom: 1px solid #f5f5f5 ;
    background-image: url('../../assets/BG2.jpg');
    background-size: cover;   

    background-size: center;
}

.how-heading {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 90vw;
    padding: 50px 100px;
    background-color: #090909;
    border: 1px solid #f5f5f5;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}


.how-heading p{
    margin-top: 35px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    color: #f5f5f5; 
    text-align: center;
}

.cards-container{
    margin-top: 100px;
    padding: 0px 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1280px){
    .how-it-works{
        padding: 80px 0px;
    }

    .cards-container{
        margin-top: 80px;
    }

    .how-heading p{
        font-size: 18px;
        font-weight: 300;
    }


    .how-heading {
        padding: 50px 80px;
    }

}

@media (max-width:1050px){

    .how-heading {
        padding: 35px 50px;
    }
}

@media(max-width:700px){
    .how-it-works{
        padding: 60px 0px;
    }

    .cards-container{
        margin-top: 60px;
    }

    .how-heading p{
        font-size: 16px;
    }
    .how-heading {
        padding: 20px 35px;
    }
}

@media(max-width:450px){
    .how-it-works{
        padding: 40px 0px;
    }

    .how-heading {
        padding: 20px 35px;
    }
}